.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
    background-color: green;
    position: absolute;
    top: 5vh;
    left: 0;
    overflow: scroll;
    justify-content: center;
    align-items: center;
}

  
.container > * {
text-align: center;
font-weight: bold;
}
  