@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.profile {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.profile__text {
  font-size: 20px;
  color: rgb(44, 44, 146)
}

.profile__body {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.profile__body > * {
  text-align: center;
  font-weight: bold;
}

.user {
  border: 8px black double;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  padding: 5px;
  width: 90%;
  height: 95vh;
  max-width: 1000px;
}

.user__image {
  height: 200px;
  width: 150px;
  margin: 0 10px;
  background-color: blueviolet;
}

.user__info {
  display: flex;
  justify-content: center;
}

.user__info__stats {
  margin-top: 20px;
}

.user__info h1 {
  font-size: larger;
}

.user__info h2 {
  font-size: large;
}

.additional_info {
  background-color: bisque;
  border: 3px dashed blue;
  margin: 5px;
}

.button-block {
  display: flex;
  justify-content: space-around;
}

.button-block a {
  width: 100px;
  height: 30px;
  background-color: blanchedalmond;
  border: 2px dashed blue;
}