@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.user {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
}

.user__image {
  height: 30vh;
  width: 150px;
  margin: 0 10px;
  background-color: blueviolet;
}

.user__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user__info__stats {
  margin-top: 7vh;
}

.user__info h1 {
  font-size: larger;
}

.user__info h2 {
  font-size: large;
}

.additional_info {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border: 3px dashed blue;
  margin: 1vh;
}

@media (max-height: 670px) {
  .user {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 500px;
  }
  .additional_info {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 3px dashed blue;
    margin: 1vh;
    max-height: 60vh;
    overflow: scroll;
  }
  .user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.playbutton {
  width: 100px;
  height: 30px;
  background-color: blanchedalmond;
  border: 2px dashed blue;
  margin: 5px;
}

.newgame__header {
  display: flex;
  width: 100vh;
  max-width: 500px;
  height: 50px;
  align-items: center;
}

.newgame__header p {
  text-align: center;
  margin: auto;
}

.bid_select {
  display: flex;
  flex-direction: row;
}

.bid_option {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 5px dashed blue;
  justify-content: center;
  align-items: center;
}

.bid_option__selected {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 20px;
  background-color: blueviolet;
  border: 5px dashed rgb(255, 0, 174);
  justify-content: center;
  align-items: center;
}

.game_option {
  display: flex;
  height: 50px;
  width: 150px;
  margin: 20px;
  border: 5px dashed blue;
  justify-content: center;
  align-items: center;
}

.game_option__selected {
  display: flex;
  height: 50px;
  width: 150px;
  margin: 20px;
  background-color: blueviolet;
  border: 5px dashed rgb(255, 0, 174);
  justify-content: center;
  align-items: center;
}

.game_mode {
  display: flex;
  flex-direction: row;
}

ol {
  list-style: decimal;
}
 ol li {
  margin: 5px;
 }

 .deck {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
 }

 .deck * {
  margin: 5px;
 }

 .deck img:hover {
  scale: 1.1;
 }

 .field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
 }

 .point {
  display:flex;
  width: 15vh;
  height: 200px;
  justify-content: center;
  align-items: center;
 }

 .point div {
  width: 100px;
  height: 120px;
  border: 1px dashed black;
  border-radius: 5px;
  rotate: 20deg;
  margin: 10px;
 }
 .point div img{
  width: inherit;
  height: inherit;
 }

 .friend__image__small {
  height: 10em;
  width: 10em;
  float: left;
  background-color: blueviolet;
  margin: 1vh;
}

.friend {
  display: flex;
  width: 95vw;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 1vh;
}

.friend__info {
  padding: 1vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.friends {
  height: 85vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.invite {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: rgb(161,157,150);
  background: linear-gradient(0deg, rgba(161,157,150,1) 60%, rgba(161,157,150,0) 100%);
  height: 20vh;
  z-index: 10;
}

.invite button {
  width: 40vw;
  position: absolute;
  bottom: 3vh;
  left: 30vw;
  background: rgb(62, 201, 20);
  background: linear-gradient(0deg, rgb(47, 117, 62) 60%, rgba(87, 227, 120, 0.585) 100%);
  border: 3px double black;
  border-radius: 5px;
}

.invite button:active {
  width: 40vw;
  position: absolute;
  bottom: 3vh;
  left: 30vw;
  background: rgb(62, 201, 20);
  background: linear-gradient(0deg, rgba(87, 227, 120, 0.585) 60%, rgb(47, 117, 62) 100%);
  border: 3px double black;
  border-radius: 5px;
}
